

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family:  Arial, sans-serif;
    font-size: medium;
    font-weight: 550;
}

main {
    display: flex;
    justify-content: center;
    padding: 25px 0 25px 0;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    padding: 5px;
    background-color: #ffffff; 
}

.container > div {
    width: 1200px;
    max-height: 450px;
    padding: 15px;
    margin-bottom: 25px;
    border-radius: 10px;
    border: 5px solid #acd7ff;
    background-color: #cbe1ee;
}

.add-task-block {
    display: flex;
}

.add-task-selector {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.add-task-input {
    width: 60%;
    display: flex;
    flex-direction: column;
}

#priority-select {
    width: 80%;
    border-radius: 5px;
    background-color: #fff;
    border: #3f3f3f 2px solid; 
}

.label {
    display: block;
}

.text-input {
    width: 100%;   
    background-color: #fff;
    border: #3f3f3f 2px solid;
    border-radius: 5px;
    padding: 0 0 0 10px;
}

.add-task-button-wrapper {
    display: flex;
    padding: 15px 0 0 35px;
    
}

.add-task-button {
    display: flex;
    padding: 2px 15px 2px 15px;
    border-radius: 5px;
    background-color: rgb(10, 187, 19);
}

.add-task-button:hover {
    background-color: rgb(20, 216, 30);
    .add-task {
        color:rgb(193, 255, 198);
    }
}
.add-task-button:active {
    border: 2px solid rgb(255, 255, 255);
}

.add-task {
    color:rgb(255, 255, 255);
}

span {
    display: block;
}

.filter-task-block {
    display: flex;
    flex-direction: column;
}

.filter-task-block  div {
    display: flex; 
}

.filter-task-block-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px; 
}

.filter-task-block-2 > div {
    display: flex;
    margin-right: 200px;
}

#priority-select-filter {
    width: 200px;
    display: flex;
    border-radius: 5px;
    margin-left: 25px;
    background-color: #fff;
    border: #3f3f3f 2px solid; 
}

.filter-task-checkbox {
    margin-left: 10px;
}

.task-listing-block {
    overflow-y: scroll ;
}

.task-wrapper { 
    display: flex;
    margin-bottom: 5px;
}


.task {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 5px;
    background-color:rgb(230, 255, 247);
}

.task-text-wrapper {
    display: flex;
    width: 100%;
}

.task-text {
    display: flex;
    width: 100%;
}

.button-staus-task-wrapper {
    width: 3%;
}
.status-down {
    margin-top: 15px;
}

.task-priority-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    padding: 0 15px 15px 0;
}

.button-task-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 10%;
    padding: 0 15px 0 15px;
    
}

.date-text {
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

.delete {
    display: flex;
    width: 40%;
}

.but-hov:hover {
    transform: scale(1.3);
    transition: 0.2s ease;
}


.task:hover {
    cursor: pointer;
}

/** стили для приоритетов**/
.canceled {
    background-color:rgb(255, 212, 212);
}

/* .b-middle {
    background-color:rgb(230, 255, 247);
} */

.complited {
    background-color:rgb(199, 255, 194);
} 

.a-low-text {
    color: rgb(255, 103, 103);
}

.b-middle-text {
    color: rgb(255, 219, 61)
}

.c-high-text {
    color: rgb(97, 255, 83);
}

.hidden {
    display: none;
}

